*{
    background-color: lightblue;
}
.custom_margin{
    border: 2px  black;
}
.remove{
    color: red;
    text-transform: none;
    text-decoration: none;
}
.remove:hover{
    color: rgb(168, 12, 12);
}
.fs{
    font-size: 2px;
}
.input{
    padding: 20px;
    border-radius: 20px;
}
input:hover{
    background-color: aliceblue;
}